@model AnimalCareApplication.Models.Historique

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Historique</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateSoin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateSoin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAnimalNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAnimalNavigation.IdAnimal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdVeterinaireNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdVeterinaireNavigation.IdVeterinaire)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdHistorique">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
